* text=auto !eol
protomol/ProtoMolApp.cpp -text
protomol/ProtoMolApp.h -text
protomol/SConscript -text
protomol/base/Counter.h -text
protomol/base/Exception.cpp -text
protomol/base/Exception.h -text
protomol/base/Factory.h -text
protomol/base/FileLocation.cpp -text
protomol/base/FileLocation.h -text
protomol/base/Lapack.cpp -text
protomol/base/Lapack.h -text
protomol/base/Makeable.cpp -text
protomol/base/Makeable.h -text
protomol/base/MakeableDefinition.h -text
protomol/base/MathUtilities.cpp -text
protomol/base/MathUtilities.h -text
protomol/base/Module.h -text
protomol/base/ModuleManager.cpp -text
protomol/base/ModuleManager.h -text
protomol/base/PMConstants.cpp -text
protomol/base/PMConstants.h -text
protomol/base/Proxy.h -text
protomol/base/Random.cpp -text
protomol/base/Random.h -text
protomol/base/Report.cpp -text
protomol/base/Report.h -text
protomol/base/SConscript -text
protomol/base/Singleton.h -text
protomol/base/SmartPointer.h -text
protomol/base/StringUtilities.cpp -text
protomol/base/StringUtilities.h -text
protomol/base/SystemUtilities.cpp -text
protomol/base/SystemUtilities.h -text
protomol/base/Timer.cpp -text
protomol/base/Timer.h -text
protomol/base/TimerStatistic.cpp -text
protomol/base/TimerStatistic.h -text
protomol/base/Zap.h -text
protomol/base/sstream_local.h -text
protomol/config.h -text
protomol/config/CommandLine.cpp -text
protomol/config/CommandLine.h -text
protomol/config/CommandLineArg.h -text
protomol/config/CommandLineOption.cpp -text
protomol/config/CommandLineOption.h -text
protomol/config/Configuration.cpp -text
protomol/config/Configuration.h -text
protomol/config/ConstraintValueType.cpp -text
protomol/config/ConstraintValueType.h -text
protomol/config/InputValue.h -text
protomol/config/InputValueMacros.h -text
protomol/config/Parameter.cpp -text
protomol/config/Parameter.h -text
protomol/config/SConscript -text
protomol/config/Value.cpp -text
protomol/config/Value.h -text
protomol/config/ValueType.cpp -text
protomol/config/ValueType.h -text
protomol/debug/Backtrace.cpp -text
protomol/debug/Backtrace.h -text
protomol/debug/Debugger.cpp -text
protomol/debug/Debugger.h -text
protomol/debug/Pipe.cpp -text
protomol/debug/Pipe.h -text
protomol/debug/Process.cpp -text
protomol/debug/Process.h -text
protomol/debug/SConscript -text
protomol/factory/ForceFactory.cpp -text
protomol/factory/ForceFactory.h -text
protomol/factory/HelpTextFactory.cpp -text
protomol/factory/HelpTextFactory.h -text
protomol/factory/IntegratorFactory.cpp -text
protomol/factory/IntegratorFactory.h -text
protomol/factory/OutputFactory.cpp -text
protomol/factory/OutputFactory.h -text
protomol/factory/SConscript -text
protomol/factory/TopologyFactory.cpp -text
protomol/factory/TopologyFactory.h -text
protomol/force/CompareForce.cpp -text
protomol/force/CompareForce.h -text
protomol/force/CoulombForce.cpp -text
protomol/force/CoulombForce.h -text
protomol/force/Force.cpp -text
protomol/force/Force.h -text
protomol/force/ForceGroup.cpp -text
protomol/force/ForceGroup.h -text
protomol/force/GB/GBACEForce.cpp -text
protomol/force/GB/GBACEForce.h -text
protomol/force/GB/GBBornRadii.cpp -text
protomol/force/GB/GBBornRadii.h -text
protomol/force/GB/GBForce.cpp -text
protomol/force/GB/GBForce.h -text
protomol/force/GB/GBPartialSum.cpp -text
protomol/force/GB/GBPartialSum.h -text
protomol/force/GB/SConscript -text
protomol/force/LennardJonesForce.cpp -text
protomol/force/LennardJonesForce.h -text
protomol/force/MetaForce.cpp -text
protomol/force/MetaForce.h -text
protomol/force/MollyForce.cpp -text
protomol/force/MollyForce.h -text
protomol/force/OneAtomContraints.h -text
protomol/force/OneAtomPair.h -text
protomol/force/OneAtomPairFull.h -text
protomol/force/OneAtomPairNoExclusion.h -text
protomol/force/OneAtomPairThree.h -text
protomol/force/OneAtomPairTwo.h -text
protomol/force/SConscript -text
protomol/force/TimeForce.cpp -text
protomol/force/TimeForce.h -text
protomol/force/bonded/AngleSystemForce.h -text
protomol/force/bonded/BondSystemForce.h -text
protomol/force/bonded/DihedralSystemForce.h -text
protomol/force/bonded/HarmDihedralSystemForce.h -text
protomol/force/bonded/ImproperSystemForce.h -text
protomol/force/bonded/MTorsionSystemForce.h -text
protomol/force/bonded/RBDihedralSystemForce.h -text
protomol/force/bonded/SConscript -text
protomol/force/born/BornRadii.cpp -text
protomol/force/born/BornRadii.h -text
protomol/force/born/BornSelfForce.cpp -text
protomol/force/born/BornSelfForce.h -text
protomol/force/born/BornSwitch.h -text
protomol/force/born/SConscript -text
protomol/force/coulomb/CoulombForceDiElec.cpp -text
protomol/force/coulomb/CoulombForceDiElec.h -text
protomol/force/coulomb/CoulombSCPISMForce.cpp -text
protomol/force/coulomb/CoulombSCPISMForce.h -text
protomol/force/coulomb/SConscript -text
protomol/force/extended/ExtendedCompareForce.cpp -text
protomol/force/extended/ExtendedCompareForce.h -text
protomol/force/extended/ExtendedForce.cpp -text
protomol/force/extended/ExtendedForce.h -text
protomol/force/extended/ExtendedTimeForce.cpp -text
protomol/force/extended/ExtendedTimeForce.h -text
protomol/force/extended/SConscript -text
protomol/force/hessian/HessDihedral.cpp -text
protomol/force/hessian/HessDihedral.h -text
protomol/force/hessian/ReducedHessAngle.cpp -text
protomol/force/hessian/ReducedHessAngle.h -text
protomol/force/hessian/ReducedHessBond.cpp -text
protomol/force/hessian/ReducedHessBond.h -text
protomol/force/hessian/ReducedHessBornSelf.cpp -text
protomol/force/hessian/ReducedHessBornSelf.h -text
protomol/force/hessian/ReducedHessCoulomb.cpp -text
protomol/force/hessian/ReducedHessCoulomb.h -text
protomol/force/hessian/ReducedHessCoulombDiElec.cpp -text
protomol/force/hessian/ReducedHessCoulombDiElec.h -text
protomol/force/hessian/ReducedHessCoulombSCPISM.cpp -text
protomol/force/hessian/ReducedHessCoulombSCPISM.h -text
protomol/force/hessian/ReducedHessGB.cpp -text
protomol/force/hessian/ReducedHessGB.h -text
protomol/force/hessian/ReducedHessGBACE.cpp -text
protomol/force/hessian/ReducedHessGBACE.h -text
protomol/force/hessian/ReducedHessLennardJones.cpp -text
protomol/force/hessian/ReducedHessLennardJones.h -text
protomol/force/hessian/SConscript -text
protomol/force/nonbonded/NonbondedCutoffForce.h -text
protomol/force/nonbonded/NonbondedCutoffSystemForce.h -text
protomol/force/nonbonded/NonbondedFullEwaldSystemForce.h -text
protomol/force/nonbonded/NonbondedFullEwaldSystemForceBase.cpp -text
protomol/force/nonbonded/NonbondedFullEwaldSystemForceBase.h -text
protomol/force/nonbonded/NonbondedFullSystemForce.h -text
protomol/force/nonbonded/NonbondedIntermittentFullSystemForce.h -text
protomol/force/nonbonded/NonbondedSimpleFullSystemForce.h -text
protomol/force/nonbonded/SConscript -text
protomol/force/system/SConscript -text
protomol/force/system/SystemCompareForce.cpp -text
protomol/force/system/SystemCompareForce.h -text
protomol/force/system/SystemForce.cpp -text
protomol/force/system/SystemForce.h -text
protomol/force/system/SystemTimeForce.cpp -text
protomol/force/system/SystemTimeForce.h -text
protomol/force/table/CoulombTableForce.h -text
protomol/force/table/LennardJonesTableForce.h -text
protomol/force/table/LookupTable.h -text
protomol/force/table/SConscript -text
protomol/integrator/Integrator.cpp -text
protomol/integrator/Integrator.h -text
protomol/integrator/IntegratorDefinition.cpp -text
protomol/integrator/IntegratorDefinition.h -text
protomol/integrator/MTSIntegrator.cpp -text
protomol/integrator/MTSIntegrator.h -text
protomol/integrator/NonStandardIntegrator.h -text
protomol/integrator/SConscript -text
protomol/integrator/STSIntegrator.cpp -text
protomol/integrator/STSIntegrator.h -text
protomol/integrator/StandardIntegrator.cpp -text
protomol/integrator/StandardIntegrator.h -text
protomol/integrator/base/CGMinimizerIntegrator.cpp -text
protomol/integrator/base/CGMinimizerIntegrator.h -text
protomol/integrator/base/LangevinImpulseIntegrator.cpp -text
protomol/integrator/base/LangevinImpulseIntegrator.h -text
protomol/integrator/base/LangevinLeapfrogIntegrator.cpp -text
protomol/integrator/base/LangevinLeapfrogIntegrator.h -text
protomol/integrator/base/LangevinVVVRIntegrator.cpp -text
protomol/integrator/base/LangevinVVVRIntegrator.h -text
protomol/integrator/base/NumericalDifferentiation.cpp -text
protomol/integrator/base/NumericalDifferentiation.h -text
protomol/integrator/base/NumericallyDifferentiatedHessian.cpp -text
protomol/integrator/base/NumericallyDifferentiatedHessian.h -text
protomol/integrator/base/RMTIntegrator.cpp -text
protomol/integrator/base/RMTIntegrator.h -text
protomol/integrator/base/SConscript -text
protomol/integrator/hessian/BlockHessian.cpp -text
protomol/integrator/hessian/BlockHessian.h -text
protomol/integrator/hessian/BlockHessianDiagonalize.cpp -text
protomol/integrator/hessian/BlockHessianDiagonalize.h -text
protomol/integrator/hessian/Hessian.cpp -text
protomol/integrator/hessian/Hessian.h -text
protomol/integrator/hessian/HessianInt.cpp -text
protomol/integrator/hessian/HessianInt.h -text
protomol/integrator/hessian/LapackProtomol.h -text
protomol/integrator/hessian/SConscript -text
protomol/integrator/leapfrog/DMDLeapfrogIntegrator.cpp -text
protomol/integrator/leapfrog/DMDLeapfrogIntegrator.h -text
protomol/integrator/leapfrog/GPU.cpp -text
protomol/integrator/leapfrog/GPU.h -text
protomol/integrator/leapfrog/LeapfrogDataAcquisition.cpp -text
protomol/integrator/leapfrog/LeapfrogDataAcquisition.h -text
protomol/integrator/leapfrog/LeapfrogIntegrator.cpp -text
protomol/integrator/leapfrog/LeapfrogIntegrator.h -text
protomol/integrator/leapfrog/LeapfrogTruncatedShadow.cpp -text
protomol/integrator/leapfrog/LeapfrogTruncatedShadow.h -text
protomol/integrator/leapfrog/ModifierFriction.h -text
protomol/integrator/leapfrog/NoseNVTLeapfrogIntegrator.cpp -text
protomol/integrator/leapfrog/NoseNVTLeapfrogIntegrator.h -text
protomol/integrator/leapfrog/PLeapfrogIntegrator.cpp -text
protomol/integrator/leapfrog/PLeapfrogIntegrator.h -text
protomol/integrator/leapfrog/SConscript -text
protomol/integrator/normal/ModifierForceProjection.h -text
protomol/integrator/normal/NormalModeBrownian.cpp -text
protomol/integrator/normal/NormalModeBrownian.h -text
protomol/integrator/normal/NormalModeCompLang.cpp -text
protomol/integrator/normal/NormalModeCompLang.h -text
protomol/integrator/normal/NormalModeDamping.cpp -text
protomol/integrator/normal/NormalModeDamping.h -text
protomol/integrator/normal/NormalModeDiagonalize.cpp -text
protomol/integrator/normal/NormalModeDiagonalize.h -text
protomol/integrator/normal/NormalModeLangLf.cpp -text
protomol/integrator/normal/NormalModeLangLf.h -text
protomol/integrator/normal/NormalModeLangevin.cpp -text
protomol/integrator/normal/NormalModeLangevin.h -text
protomol/integrator/normal/NormalModeMinimizer.cpp -text
protomol/integrator/normal/NormalModeMinimizer.h -text
protomol/integrator/normal/NormalModeMori.cpp -text
protomol/integrator/normal/NormalModeMori.h -text
protomol/integrator/normal/NormalModeQuadratic.cpp -text
protomol/integrator/normal/NormalModeQuadratic.h -text
protomol/integrator/normal/NormalModeRelax.cpp -text
protomol/integrator/normal/NormalModeRelax.h -text
protomol/integrator/normal/NormalModeUtilities.cpp -text
protomol/integrator/normal/NormalModeUtilities.h -text
protomol/integrator/normal/SConscript -text
protomol/integrator/openMM/NormalModeOpenMM.cpp -text
protomol/integrator/openMM/NormalModeOpenMM.h -text
protomol/integrator/openMM/OpenMMIntegrator.cpp -text
protomol/integrator/openMM/OpenMMIntegrator.h -text
protomol/integrator/openMM/SConscript -text
protomol/io/CheckpointConfigReader.cpp -text
protomol/io/CheckpointConfigReader.h -text
protomol/io/CheckpointConfigWriter.cpp -text
protomol/io/CheckpointConfigWriter.h -text
protomol/io/ConfigurationReader.cpp -text
protomol/io/ConfigurationReader.h -text
protomol/io/DCDTrajectoryReader.cpp -text
protomol/io/DCDTrajectoryReader.h -text
protomol/io/DCDTrajectoryWriter.cpp -text
protomol/io/DCDTrajectoryWriter.h -text
protomol/io/EigenvectorReader.cpp -text
protomol/io/EigenvectorReader.h -text
protomol/io/EigenvectorTextReader.cpp -text
protomol/io/EigenvectorTextReader.h -text
protomol/io/File.cpp -text
protomol/io/File.h -text
protomol/io/PARReader.cpp -text
protomol/io/PARReader.h -text
protomol/io/PDBReader.cpp -text
protomol/io/PDBReader.h -text
protomol/io/PDBWriter.cpp -text
protomol/io/PDBWriter.h -text
protomol/io/PSFReader.cpp -text
protomol/io/PSFReader.h -text
protomol/io/PosVelReader.cpp -text
protomol/io/PosVelReader.h -text
protomol/io/PosVelReaderType.cpp -text
protomol/io/PosVelReaderType.h -text
protomol/io/Reader.cpp -text
protomol/io/Reader.h -text
protomol/io/SCPISMReader.cpp -text
protomol/io/SCPISMReader.h -text
protomol/io/SConscript -text
protomol/io/Writer.cpp -text
protomol/io/Writer.h -text
protomol/io/XYZBinReader.cpp -text
protomol/io/XYZBinReader.h -text
protomol/io/XYZReader.cpp -text
protomol/io/XYZReader.h -text
protomol/io/XYZTrajectoryReader.cpp -text
protomol/io/XYZTrajectoryReader.h -text
protomol/io/XYZTrajectoryWriter.cpp -text
protomol/io/XYZTrajectoryWriter.h -text
protomol/io/XYZWriter.cpp -text
protomol/io/XYZWriter.h -text
protomol/io/gromacs/GromacsBondedParameterFileReader.cpp -text
protomol/io/gromacs/GromacsBondedParameterFileReader.h -text
protomol/io/gromacs/GromacsGBParameterFileReader.cpp -text
protomol/io/gromacs/GromacsGBParameterFileReader.h -text
protomol/io/gromacs/GromacsNonbondedParameterFileReader.cpp -text
protomol/io/gromacs/GromacsNonbondedParameterFileReader.h -text
protomol/io/gromacs/GromacsParameterFileReader.cpp -text
protomol/io/gromacs/GromacsParameterFileReader.h -text
protomol/io/gromacs/GromacsTopologyReader.cpp -text
protomol/io/gromacs/GromacsTopologyReader.h -text
protomol/io/gromacs/PortGromacsParameters.cpp -text
protomol/io/gromacs/PortGromacsParameters.h -text
protomol/io/gromacs/SConscript -text
protomol/main.cpp -text
protomol/modifier/Modifier.cpp -text
protomol/modifier/Modifier.h -text
protomol/modifier/ModifierIncrementTimestep.h -text
protomol/modifier/ModifierMetaRattle.cpp -text
protomol/modifier/ModifierMetaRattle.h -text
protomol/modifier/ModifierMetaRattleShake.cpp -text
protomol/modifier/ModifierMetaRattleShake.h -text
protomol/modifier/ModifierMetaShake.cpp -text
protomol/modifier/ModifierMetaShake.h -text
protomol/modifier/ModifierRattle.cpp -text
protomol/modifier/ModifierRattle.h -text
protomol/modifier/ModifierRemoveAngularMomentum.h -text
protomol/modifier/ModifierRemoveLinearMomentum.h -text
protomol/modifier/ModifierShadow.cpp -text
protomol/modifier/ModifierShadow.h -text
protomol/modifier/ModifierShake.cpp -text
protomol/modifier/ModifierShake.h -text
protomol/modifier/SConscript -text
protomol/module/BondedForcesModule.cpp -text
protomol/module/BondedForcesModule.h -text
protomol/module/CheckpointModule.cpp -text
protomol/module/CheckpointModule.h -text
protomol/module/CommandLineModule.cpp -text
protomol/module/CommandLineModule.h -text
protomol/module/ConfigurationModule.cpp -text
protomol/module/ConfigurationModule.h -text
protomol/module/HessianIntegratorModule.cpp -text
protomol/module/HessianIntegratorModule.h -text
protomol/module/IOModule.cpp -text
protomol/module/IOModule.h -text
protomol/module/IntegratorBaseModule.cpp -text
protomol/module/IntegratorBaseModule.h -text
protomol/module/IntegratorOpenMMModule.cpp -text
protomol/module/IntegratorOpenMMModule.h -text
protomol/module/LeapfrogModule.cpp -text
protomol/module/LeapfrogModule.h -text
protomol/module/MainModule.cpp -text
protomol/module/MainModule.h -text
protomol/module/ModifierModule.cpp -text
protomol/module/ModifierModule.h -text
protomol/module/NonbondedCutoffForceModule.cpp -text
protomol/module/NonbondedCutoffForceModule.h -text
protomol/module/NonbondedFullElectrostaticForceModule.cpp -text
protomol/module/NonbondedFullElectrostaticForceModule.h -text
protomol/module/NonbondedFullForceModule.cpp -text
protomol/module/NonbondedFullForceModule.h -text
protomol/module/NonbondedIntermittentFullForceModule.cpp -text
protomol/module/NonbondedIntermittentFullForceModule.h -text
protomol/module/NonbondedSimpleFullForceModule.cpp -text
protomol/module/NonbondedSimpleFullForceModule.h -text
protomol/module/NormalModeModule.cpp -text
protomol/module/NormalModeModule.h -text
protomol/module/OutputModule.cpp -text
protomol/module/OutputModule.h -text
protomol/module/SConscript -text
protomol/module/TopologyModule.cpp -text
protomol/module/TopologyModule.h -text
protomol/modules.cpp -text
protomol/os/cygwin.h -text
protomol/os/unix.h -text
protomol/os/win32.h -text
protomol/output/GUIServer.cpp -text
protomol/output/GUIServer.h -text
protomol/output/Output.cpp -text
protomol/output/Output.h -text
protomol/output/OutputCache.cpp -text
protomol/output/OutputCache.h -text
protomol/output/OutputCheckpoint.cpp -text
protomol/output/OutputCheckpoint.h -text
protomol/output/OutputCollection.cpp -text
protomol/output/OutputCollection.h -text
protomol/output/OutputDCDTrajectory.cpp -text
protomol/output/OutputDCDTrajectory.h -text
protomol/output/OutputDCDTrajectoryVel.cpp -text
protomol/output/OutputDCDTrajectoryVel.h -text
protomol/output/OutputEnergies.cpp -text
protomol/output/OutputEnergies.h -text
protomol/output/OutputFAHFile.cpp -text
protomol/output/OutputFAHFile.h -text
protomol/output/OutputFAHGUI.cpp -text
protomol/output/OutputFAHGUI.h -text
protomol/output/OutputFinalPDBPos.cpp -text
protomol/output/OutputFinalPDBPos.h -text
protomol/output/OutputFinalXYZPos.cpp -text
protomol/output/OutputFinalXYZPos.h -text
protomol/output/OutputFinalXYZVel.cpp -text
protomol/output/OutputFinalXYZVel.h -text
protomol/output/OutputScreen.cpp -text
protomol/output/OutputScreen.h -text
protomol/output/OutputXTCTrajectory.cpp -text
protomol/output/OutputXTCTrajectory.h -text
protomol/output/OutputXYZTrajectoryForce.cpp -text
protomol/output/OutputXYZTrajectoryForce.h -text
protomol/output/OutputXYZTrajectoryPos.cpp -text
protomol/output/OutputXYZTrajectoryPos.h -text
protomol/output/OutputXYZTrajectoryVel.cpp -text
protomol/output/OutputXYZTrajectoryVel.h -text
protomol/output/SConscript -text
protomol/output/stdtypes.h -text
protomol/package.h.cmake -text
protomol/parallel/FFTComplex.cpp -text
protomol/parallel/FFTComplex.h -text
protomol/parallel/Parallel.cpp -text
protomol/parallel/Parallel.h -text
protomol/parallel/ParallelType.cpp -text
protomol/parallel/ParallelType.h -text
protomol/parallel/SConscript -text
protomol/switch/C1SwitchingFunction.cpp -text
protomol/switch/C1SwitchingFunction.h -text
protomol/switch/C2SwitchingFunction.cpp -text
protomol/switch/C2SwitchingFunction.h -text
protomol/switch/CmpCnCnSwitchingFunction.cpp -text
protomol/switch/CmpCnCnSwitchingFunction.h -text
protomol/switch/CnSwitchingFunction.cpp -text
protomol/switch/CnSwitchingFunction.h -text
protomol/switch/ComplementSwitchingFunction.h -text
protomol/switch/CutoffSwitchingFunction.h -text
protomol/switch/SConscript -text
protomol/switch/UniversalSwitchingFunction.h -text
protomol/topology/Angle.h -text
protomol/topology/AngleInfo.cpp -text
protomol/topology/AngleInfo.h -text
protomol/topology/ArrayCellListStructure.cpp -text
protomol/topology/ArrayCellListStructure.h -text
protomol/topology/Atom.h -text
protomol/topology/AtomType.h -text
protomol/topology/BankLennardJonesParameterTable.h -text
protomol/topology/Bond.h -text
protomol/topology/BuildTopology.cpp -text
protomol/topology/BuildTopology.h -text
protomol/topology/BuildTopologyFromTpr.cpp -text
protomol/topology/BuildTopologyFromTpr.h -text
protomol/topology/CellListEnumerator.h -text
protomol/topology/CellListEnumeratorPeriodicBoundaries.h -text
protomol/topology/CellListEnumeratorStandard.h -text
protomol/topology/CoulombSCPISMParameterTable.cpp -text
protomol/topology/CoulombSCPISMParameterTable.h -text
protomol/topology/CoulombSCPISMParameters.h -text
protomol/topology/CubicCellLocation.h -text
protomol/topology/CubicCellManager.cpp -text
protomol/topology/CubicCellManager.h -text
protomol/topology/ExclusionTable.cpp -text
protomol/topology/ExclusionTable.h -text
protomol/topology/ExclusionType.cpp -text
protomol/topology/ExclusionType.h -text
protomol/topology/GenericTopology.cpp -text
protomol/topology/GenericTopology.h -text
protomol/topology/LennardJonesParameterTable.cpp -text
protomol/topology/LennardJonesParameterTable.h -text
protomol/topology/LennardJonesParameters.h -text
protomol/topology/Molecule.h -text
protomol/topology/PeriodicBoundaryConditions.cpp -text
protomol/topology/PeriodicBoundaryConditions.h -text
protomol/topology/RBTorsion.h -text
protomol/topology/SConscript -text
protomol/topology/SemiGenericTopology.h -text
protomol/topology/Topology.h -text
protomol/topology/TopologyUtilities.cpp -text
protomol/topology/TopologyUtilities.h -text
protomol/topology/Torsion.h -text
protomol/topology/VacuumBoundaryConditions.cpp -text
protomol/topology/VacuumBoundaryConditions.h -text
protomol/type/AbstractEnumType.h -text
protomol/type/Array.h -text
protomol/type/ArrayFastest.h -text
protomol/type/ArrayNoPartialSpecialization.h -text
protomol/type/BlockMatrix.cpp -text
protomol/type/BlockMatrix.h -text
protomol/type/EigenvectorInfo.cpp -text
protomol/type/EigenvectorInfo.h -text
protomol/type/GromacsParameters.cpp -text
protomol/type/GromacsParameters.h -text
protomol/type/GromacsTopology.cpp -text
protomol/type/GromacsTopology.h -text
protomol/type/Matrix3By3.cpp -text
protomol/type/Matrix3By3.h -text
protomol/type/PAR.cpp -text
protomol/type/PAR.h -text
protomol/type/PDB.cpp -text
protomol/type/PDB.h -text
protomol/type/PSF.cpp -text
protomol/type/PSF.h -text
protomol/type/Real.h -text
protomol/type/SConscript -text
protomol/type/ScalarStructure.cpp -text
protomol/type/ScalarStructure.h -text
protomol/type/SimpleTypes.h -text
protomol/type/Stack.h -text
protomol/type/String.cpp -text
protomol/type/String.h -text
protomol/type/TypeSelection.h -text
protomol/type/Vector.h -text
protomol/type/Vector3D.h -text
protomol/type/Vector3DBlock.cpp -text
protomol/type/Vector3DBlock.h -text
protomol/type/XYZ.h -text
